.App {
  background-color: white;
  background-position: fixed;
  background-repeat: repeat;
  padding-top: 5rem;
  min-height: 100vh;
}
.navbar {
  background-color: red !important;
  padding: 1em;
}
.navbar a {
  color: white !important;
}
.navbar a:hover {
  opacity: 0.8;
}

#logo {
  padding-left: 40px;
}
