.App {
  background-color: white;
  background-position: fixed;
  background-repeat: repeat;
  padding-top: 5rem;
  min-height: 100vh;
}
.navbar {
  background-color: red;
  padding: 1em;
}
.navbar-logo {
  padding-left: 60px;
  z-index: 9999;
}
